.btn-action {
    width: 100%;
    height: 35px;
}

.col-name {
    width: 50%;
}

.col-btn {
    width: 25%;
}

.info-type {
    width: 100%;
    font-size: 10px;
    color:  #ff3d71;
    font-weight: bold;
    padding: 0px 0px 0px 2px ;
}

.accordion-selected {
    max-height: 500px;
    overflow-y: auto;
}
.item-body {
    padding: 2px !important;
}

.divison-selected {
    padding: 0px;

}

.title-selected {
    display: block;
    padding: 0px;
}

  
.table-img {
    padding: 1px;
    display: block;
    text-align: center;
    margin: 5px 0px 0px 0px;
}


.img-responsive {
    margin: 0 auto;
    width: 300px;
}

.img-responsive-adv {
    margin: 0 auto;
    width: 500px;
}


.col-th-1 {
    width: 20%;
}

.col-th-2 {
    width: 45%;
}

.col-th-3 {
    width: 20%;
}

.col-th-4 {
    width: 80%;
}

.btn-add-advert {
    margin-top: -15px;
}
.original-time-label {
    margin-top: 5px;
}

.required {
    color: #ff3d71;
}