<table class="table table-striped table-bordered no-margin">
    <thead>
        <tr>
            <th colspan="5" class="table-title">{{schedule.title}}</th>
        </tr>
        <tr class="table-subtitle">
            <th scope="col" class="col-th-1">CUT OFF</th>
            <th scope="col" class="col-th-8">DESCRIPTION</th>
            <th scope="col" class="col-th-3">ODDS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of schedule.games">
            <td class="game-time">
                <div *ngFor="let participant of game.participants">
                    <span>{{ getDate() }} </span>
                </div>
            </td>
            <td>
                <div *ngFor="let participant of game.participants">
                    <span class="rotation-number">{{ participant.rotationNumber }} </span>
                    <span class="participant-name">{{ participant.name }} </span>
                </div>
            </td>
            <td >
                <div *ngFor="let participant of game.participants">
                    <span class="rotation-number">{{ getOdds(participant) }} </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>