
.no-margin {
    margin: 0;
}

.table {
    color: #1C5EAC;
}

.table-title {
    background-color: #1C5EAC;
    color: white;
    padding: 7px 8px;
    font-size: 18px;
    margin: 0;
    border: 0;
    font-weight: 700;
}

.table-subtitle > th {
    color: white;
    padding: 6px 8px !important;
    font-size: 18px !important;
    margin: 0;
    border: 0;
    font-weight: 600;
}

td {
    color: white;
    height: 20px;
    font-size: 17px;
}

.col-th-1 {
    width: 10%;
}

.col-th-2 {
    width: 26%;
}

.col-th-3 {
    width: 12%;
}

.game-icon {
    width: 25px;
    height: 25px;
    margin-left: 25px;
}

.rotation-number {
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
}

.game-time {
    font-size: 18px;
    font-weight: 700;
}
