
.advertising-container {
    position: fixed;
    width: 100%;
    top: 0px;
    margin: 0px;
    min-height: 200px;
    height: 100%;
    background-color:transparent;
}

.advertising-container-img {
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 1;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    padding: 5px;
    background-color: #FFF;
    border: 1px solid #CCC;
    z-index: 200;
    box-shadow: #000 0 2px 18px;
}
