<nb-card>
  <nb-card-header>
    <i class="fas fa-bars"></i> Administrador de líneas
  </nb-card-header>
  <nb-card-body>
    <div class="row my-4">
      <div class="col-sm-12">
          <button class="float-right" nbButton status="info">Agregar</button>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-sm-12">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Horario</th>
              <th scope="col">Vista</th>
              <th scope="col">Tipo</th>
              <th scope="col">Creado por</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
