<nb-card>
  <nb-card-header>
    <i class="fas fa-bars"></i> Lines manager
  </nb-card-header>
  <nb-card-body>
    <div class="row my-4">
      <div class="col-sm-12">
          <button class="float-right" nbButton status="info">Add</button>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-sm-12">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Time</th>
              <th scope="col">View type</th>
              <th scope="col">Line type</th>
              <th scope="col">Created by</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
