.no-padding {
    padding: 0;
}

.card {
    background-color: transparent;
}

.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 140px;
}

.img-section img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}