<div class="card" *ngIf="schedules">
    <div class="img-section">
        <img  src="{{imageUrl}}" class="card-img-top">
    </div>
    <div class="card-body no-padding">
        <div *ngFor="let schedule of schedules">
            <table class="table table-striped no-margin">
                <thead>
                    <tr>
                        <th colspan="5" class="table-title">{{schedule.title}}</th>
                    </tr>
                    <tr class="table-subtitle">
                        <th scope="col" class="col-th-1">HORA</th>
                        <th scope="col" class="col-th-2">EQUIPOS</th>
                        <th scope="col" class="col-th-3">HANDICAP</th>
                        <th scope="col" class="col-th-3">TOTAL</th>
                        <th scope="col" class="col-th-3">GANADOR</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let game of schedule.games" ngx-line [game]="game"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>