<div class="card">
    <div class="img-section">
        <a class="btn-action" (click)="exit()">
            <div class="exit">
                <i class="fa fa-sign-out-alt"></i>
            </div>
        </a>
         <a class="btn-action" (click)="switchFullScreen()">
            <div class="full-screen">
                <i class="fas fa-expand"></i>
            </div>
        </a>
        <img  src="{{imageUrl}}" class="card-img-top">
    </div>
    <div class="card-body no-padding" >
        <div>
            <div *ngFor="let schedule of schedulesOnDisplay" >
                <div [ngSwitch]="getScheduleType(schedule)">
                    <ngx-futures-odds-to-win *ngSwitchCase="1"  [schedule]="schedule" [viewConfig]="viewConfig"></ngx-futures-odds-to-win> 
                    <ngx-team-totals *ngSwitchCase="2"  [schedule]="schedule" [viewConfig]="viewConfig"></ngx-team-totals>
                    <ngx-draw-participant *ngSwitchCase="3"  [schedule]="schedule" [viewConfig]="viewConfig"></ngx-draw-participant>
                    <ngx-line-default *ngSwitchCase="4" [schedule]="schedule" [viewConfig]="viewConfig"></ngx-line-default>
                </div>
            </div>
        </div>
        <div *ngIf="displayNoSectionError">
            <ngx-no-data [viewConfig]="viewConfig"></ngx-no-data>
        </div>
    </div>
</div>