
.no-margin {
    margin: 0;
}

.table-title {
    height: 35px;
}

.table-subtitle {
    height: 35px;
}

.table-title > th{
    background-color: #164b89;
    color: white;
    padding: 1px 8px;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    border: 0;
}

.table-subtitle > th {
    color: white;
    font-size: 22px;
    margin: 0;
    border: 0;
    padding: 3px 0px;
    background-color: #2b3035 ;
}

.tr-v {
    height: 70px;
}

td {
    padding: 10px 2px;
    font-size: 21px;
    font-weight: 600;
}


.game-time {
    vertical-align: middle;
}

.game-time > span {
    margin-left: 10px;
}

.col-th-1 {
    width: 8%;
}

.col-th-1 > span {
    margin-left: 10px;
}

.col-th-2 {
    width: 35%;
}

.col-th-3 {
    width: 10%;
}


.game-icon {
    width: 25px;
    height: 25px;
    margin-left: 25px;
}

.rotation-number {
    font-weight: 700;
    margin-right: 8px;
}

.line-details {
    text-align: left;
    font-weight: 600;
}

.time-td {
    padding: 3px 12px !important;
    font-size: 19px;
    font-weight: 700;
    border: none;
}