::ng-deep .nb-theme-default  nb-card-header {
    display: none !important;
    }

.title {
    margin-bottom: 0 !important;
}

.header-img {
    height: 70px; 
    position: relative;
    margin-bottom: 10px;
}

.header-img > img{
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
}

// .btn-login:enabled {
//     background-color: black !important;
//     border-color: black !important;
// }

.header-img {
    margin-bottom: 35px;
}

.img-responsive {
    width: 260px !important; 
    height: 70px !important;
}

.error-login {
    margin-top: 10px !important;
    margin-bottom: -20px !important;
    padding: 4px 4px; 
    border: 1px solid #d02e2e !important;
    color: #d02e2e !important;
    background-color: #fff6f6  !important;
}

.error-login ul {
    margin: 0px;
    color: #d02e2e !important;
}

.error-login ul li{
    color: #d02e2e !important;
}