.navbar {
    background-color: #164b89;
    color: white;
    padding: 2px 5px;
    height: 25px;
}

.standart-logo {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
}


.exit-btn {
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}
