<table class="table table-striped no-margin" [ngClass]="{'table-dark': viewConfig.theme == 'd', 'table-light': viewConfig.theme == 'l' }">
        <thead>
        <tr  class="table-title" >
            <th colspan="5">{{schedule.title}} | {{schedule.date | date: 'mediumDate'}}</th>
          </tr>
        <tr class="table-subtitle">
            <th scope="col" class="col-th-1"><span>HORA</span></th>
            <th scope="col" class="col-th-2"><span>EQUIPO</span></th>
            <th scope="col" class="col-th-3"><span>MLINE</span></th>
            <th scope="col" class="col-th-3"><span>SPREAD</span></th>
            <th scope="col" class="col-th-3"><span>TOTAL GOALS</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of schedule.games">
            <td class="game-time">
                <span>
                    {{ getTime(game) }}
                    <img class="game-icon" src="{{ getIcon() }}">
                </span>
            </td>
            <td class="participants">
                <div *ngFor="let participant of game.participants">
                    <span class="rotation-number">{{ participant.rotationNumber }} </span>
                    <span class="participant-name">{{ participant.name }} </span>
                </div>
            </td>
            <td class="line-details">
                <div *ngFor="let participant of game.participants">
                    <span>{{ getMline(participant) }} </span>
                </div>
            </td>
            <td class="line-details">
                <div *ngFor="let participant of game.participants">
                    <span>{{ getSpread(participant) }} </span>
                </div>
            </td>
            <td class="line-details">
                <div *ngFor="let participant of game.participants; let i = index" [attr.data-index]="i">
                    <span>{{ getGoals(game.total, i) }} </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>