<div class="container text-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="card card-signin ">
                <div class="card-header">
                    <div class="card-header-img">
                        <img src="/assets/logo/jazzgs-display-white.png" class="img-responsive">
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-signin">
                        <div class="form-label-group">
                            <h5 class="input-code-header">Inserte el código de verificación:</h5>
                            <input type="text" name="verificationCode" id="inputCode" class="form-control input-code"
                                placeholder="Código" required minlength="5" [(ngModel)]="verificationCode" autofocus>
                            <label class="invalid-code" for="inputCode" *ngIf="!validVerificationCode">*El código ingresado no existe</label>
                        </div>
                        <button (click)="verifyCode()" 
                            [disabled]="isLoading"
                            class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> Publicar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>