.modal-card {
    width: 700px;
}

.span-resolution {
    padding: 15px 0px;
    margin-bottom: 10px;
    color: #dc3545;
}

.span-resolution-container {
    padding: 10px 0px;
}

.preview-container {
    width: 100%;
    height: 300px;
    background-color: #CCCCCC;
}

.container-responsive-banner {
    height: 75px;
    width: 100%;
}

.container-responsive-banner img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.container-responsive-adv {
    height: 150px;
    width: 100%;
}

.container-responsive-adv img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.img-container {
    padding: 10px 0px;
}