<div class="container">
    <div class="header">
    </div>
    <div class="footer">
        <form (submit)="send()">
            <input name="clientMessage" placeholder="Write a message" type="text" [(ngModel)]="clientMessage">
            <button mat-fab type="submit">
                <i class="material-icons">send</i>
            </button>
        </form>
    </div>
    <div>
        <div *ngFor="let msg of serverMessages">
            <div class="content">
                <span>{{ msg.content }}</span>
            </div>
        </div>
    </div>
</div>