
.main-container {
    height: 100vh;
    padding: auto;
}

.dark {
    background-color: #2b3035 !important;
}

.light {
    background-color: rgba(255, 255, 255, 0.05);
 }


.main-wrapper {
    position: relative;
}

.main-wrapper-v::-webkit-scrollbar { 
    width: 0;
    height: 0;  /* Safari and Chrome */
}

.main-wrapper-h::-webkit-scrollbar { 
    width: 0;
    height: 0;  /* Safari and Chrome */
}

.main-wrapper-section {
    position: relative;
}

.no-padding {
    padding: 0;
}

.modal-header {
    background-color: #1C5EAC !important;
    padding: 10px 10px;
    color: white;
}

.loading-icon {
    text-align: center;
    font-size: 40px;
    display: block;
}

.loading-text {
    font-size: 20px;
    text-align: center;
    display: block;
}
