<div class="main-container">
  <div class="p-0" [ngClass]="{'container-fluid': viewConfig.viewType === viewTypeEnum.Vertical, 'container': viewConfig.viewType === viewTypeEnum.Horizontal }"   >
    <div class="w-100" class="main-wrapper" 
    [ngClass]="{'main-wrapper-v': viewConfig.viewType === viewTypeEnum.Vertical, 'main-wrapper-h': viewConfig.viewType === viewTypeEnum.Horizontal }"  
      ngxContainerWrapper (push)="push($event)" (pop)="pop($event)">
      <div *ngFor="let section of sportbookSections" class="main-wrapper-section">
        <ngx-section [schedules]="section.schedules" [imageUrl]="section.bannerUrl">
        </ngx-section>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4>
      <i class="fa fa-exclamation-circle"></i>
      Cargando configuración
    </h4> 
  </div>
  <div class="modal-body">
    <span class="loading-icon"><i class="fas fa-spinner fa-spin"></i></span>
    <span class="loading-text">Esto podría demorar algunos minutos, agradecemos su paciencia.</span>
  </div>
</ng-template>
