<!-- <ngx-navbar [viewTheme]="viewConfig.theme"></ngx-navbar> -->

<div class="main-wrapper">
  <div class="main-container" [ngClass]="{'dark': viewConfig.theme == 'd', 'light': viewConfig.theme == 'l' }">
    <div class="p-0">
      <div class="main-wrapper" >
        <div class="main-wrapper-section" *ngIf="sectionOnDisplay && schedulesOnDisplay.length > 0">
          <ngx-section [schedulesOnDisplay]="schedulesOnDisplay" 
            [displayNoSectionError]="displayNoSectionError"
            [viewConfig]="viewConfig" 
            [imageUrl]="sectionOnDisplay.bannerUrl">
          </ngx-section>
        </div>
      </div>
    </div>
  </div>

  <ngx-advertising *ngIf="advertisingImages"  [advertisingImages]="advertisingImages"  
    [advertisingEvery]="advertisingEvery" [direction]='h' (notify)="stopScroll($event)">
  </ngx-advertising>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4>
      <i class="fa fa-exclamation-circle"></i>
      Cargando configuración
    </h4> 
  </div>
  <div class="modal-body">
    <span class="loading-icon"><i class="fas fa-spinner fa-spin"></i></span>
    <span class="loading-text">Esto podría demorar algunos minutos, agradecemos su paciencia.</span>
  </div>
</ng-template>